
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local("")
    url("../fonts/oswald-v47-cyrillic-regular.woff2") format("woff2"),
    url("../fonts/oswald-v47-cyrillic-regular.woff") format("woff");

}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: local("")
    url("../fonts/oswald-v47-cyrillic-600.woff2") format("woff2"),
    url("../fonts/oswald-v47-cyrillic-600.woff") format("woff");

}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('')
    url('../fonts/montserrat-v23-cyrillic-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v23-cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('')
    url('../fonts/montserrat-v23-cyrillic-700.woff2') format('woff2'),
    url('../fonts/montserrat-v23-cyrillic-700.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container  {
  width: 1280px;
  margin: 0 auto;
  border: 1px solid red;
}

.header {
  padding: 40px 0;
  background-color: #66D1FF;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-btn {
  display: inline-block;
  padding-top: 8px;
  min-width: 276px;
  height: 45px;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid white;
  background-color: white;
  color: #060D10;
  cursor: pointer;
}

.header-logo  {
  width: 295px;
  height: 50px;
}

.header-number  {
  font-family: 'Montserrat', 'sans-serif';
  font-style: normal;
  color: #060D10;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  text-decoration: none;
}



.learning {
  max-height: 766px;
  padding: 230px 0;
  margin: 0 auto;
  text-align: center;
  background-image: url("../images/promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.learning-wrap {
  background-color: rgba(6, 13, 16, 0.25);
}

.learning-heading {
  font-family: 'Oswald', 'sans-serif';
  font-style:normal;
  color: #fff;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #060D10;
}

.learning-text {
  font-family: 'Montserrat', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px #060D10;
}

.features {
  background-color:rgba(102, 209, 255, 0.2);
  mix-blend-mode: normal;
}

.features-promo {
  font-family: 'Oswald', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
  text-align: center;
  text-transform: uppercase;
  color: #060D10;
}

.features-list  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-item  {
  flex-basis: 33.33%;
}

.features-heading {
  font-family: 'Oswald', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 167%;
  text-transform: uppercase;
}

.features-desc {
  font-family: 'Montserrat', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 140%;
  color: #060D10;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.lead {
  align-items: center;
  text-align: center;
  background: linear-gradient(208.35deg, rgba(102, 209, 255, 0.2) 43.85%, rgba(196, 196, 196, 0.1) 43.86%);
}

.lead-wrap {
  display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.lead-promo {
  margin-top: 150px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  color: #060D10;
  text-transform: uppercase;
}

.btn-promo {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  width: 505px;
  height: 86px;
  color: #060D10;
  text-decoration: none;
  border: 3px solid #000;
  padding: 10px 80px;
}

.lead-pictures-wrap {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin: 100px -10px 170px -10px;
}

.footer {
  background-color: #060D10;

}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-join {
  font-family: 'Montserrat', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 167%;
  text-align: center;
  color: #FFFFFF;
}

.social {
  display: flex
}

.social-item {
  list-style:none;
  margin: 0;
  padding-right: 20px;
}

.social-link {
  display: block;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}

.copyright {
  margin-left: 705px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
