
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local("")
    url("../fonts/oswald-v47-cyrillic-regular.woff2") format("woff2"),
    url("../fonts/oswald-v47-cyrillic-regular.woff") format("woff");

}

@font-face {
  font-family: 'Monsterrat';
  font-style: normal;
  font-weight: 400;
  src: local('')
    url('../fonts/montserrat-v23-cyrillic-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v23-cyrillic-regular.woff') format('woff');
}

*{
  box-sizing: border-box;
}

body {

}

.container{
  width: 1440px;
  border: 1px solid red;
  display: flex;
  flex-basis: 33.33%;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.header{
  background-color: #66D1FF;
  flex-basis: 33.33%;
}

.header-wrap {

}

.btn {

}

.header-logo{
  width: 295px;

}

.header-number{
  font-family:'Monsterrat';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
}

.main{

}

.section-up {
  background-repeat: no-repeat;
}

.promo{
  display: block;
  max-width: 100%;
}


h1 {
  font-family: 'Oswald', 'sans-serif';
  font-style: normal;
  text-decoration-color: #fff;
  font-weight: 500;
  font-size: 60px;
  text-transform: uppercase;
}

h2 {

}
